Screen {
    background: $surface-darken-1;
}

#tree-view {
    display: none;
    scrollbar-gutter: stable;
    overflow: auto;
    width: auto;
    height: 100%;
    border-right: solid;
    dock: left;
}

DisApp.-show-tree #tree-view {
    display: block;
    max-width: 50%;

}

#code-view {
    overflow: auto scroll;
    min-width: 100%;
}
#code {
    width: auto;
}

#code-header {
    border-bottom: solid;
}

#left-nums {
    width: auto;
    padding-right: 1;
}
#right-nums {
    width: auto;
    padding-right: 1;
    padding-left: 1;
}
#left {
    width: 1fr;
    overflow: auto auto;
}
#right {
    width: auto;
    max-width: 50%;
    padding-right: 1;
    overflow: auto auto;
}
